* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: aqua;
  color: black;
  line-height: 1.4;
  font-size: 16px;
}

header{
background-color: lightgray;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: start;
}

nav a{
  display: flex;
  justify-content: end;
}

footer a {
  background-color: black;
  
}