* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: aqua;
  color: black;
  line-height: 1.4;
  font-size: 16px;
}

header {
width: 100vw;
height: 3rem;
background-color: gray;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.background {
  position: relative;
  text-align: center;
  color: white;
}

h1 {
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  margin: 0 3rem;
  padding: 16px;
}

.first-article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 3rem;
}

.column {
 flex: 2;
align-content: center;
}


/*tweaking
nav {
  width: 100vw;
  display: flex;
  justify-content: start;
}

nav a{
  display: flex;
  justify-content: end;
}
  */

footer a {
  background-color: black;

}